(
    workspaces: [
        ("go", "~/Documents/Projects/Go"),
        ("rust", "~/Documents/Projects/Rust"),
        ("typescript", "~/Documents/Projects/Typescript"),
        ("java", "~/Documents/Projects/Java"),
    ]
)
